@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .custom-focus {
    @apply outline-none focus:outline-none focus-visible:ring-1 focus-visible:ring-green-600 hover:border-clr-green-600;
  }
} 

.custom-bg:has(input:checked) {
  background: hsl(148, 38%, 91%);
  border: solid 1px hsl(169, 82%, 27%);
  outline: none;
}

.required-asterisk::after {
  content: '*';
  padding-left: 4px;
  color: hsl(169, 82%, 27%);;
}

[type=radio],
[type=checkbox] {
  cursor: pointer;
  border: solid 1px #cccccc;
  margin-right: 8px;
  position: relative;
}

[type=radio] {
  width: 20px;
  height: 20px;
}

[type=radio], [type=checkbox] {
  accent-color:  hsl(169, 82%, 27%);
}
